/* style for body, includes background image */
body {
background-image: url("./assets/earth.jpg");
background-size: cover;
background-attachment: fixed;

}
/* Navbar styling  */
.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    ;

}
/* Margins for the h1  */
h1 {

    margin-bottom: 50px;
    margin-top: 50px;
}
/* Styling for the cards for the NASA and ISS national lab */
.card{
    margin-top: 50px;
    float: center;
    border: 10px solid lightslategray;
    background-color:#dbdbdb;
    
    
}

   
    
