/* background added  */
body {
    background-image: url("./assets/astronaut.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.card{
    width: 540px;
    height: 300px;
    margin: auto;
    padding-top: 100px;
}
