/* background added  */
body {
    background-image: url("./assets/ocean.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.col-sm-6{
    width: 540px;
    height: 300px;
    margin-top: auto;
    padding-top: 100px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: teal;

}

    
