body {
    background-image: url("./assets/ocean.jpg");
    background-size: cover;
    background-attachment: fixed;
    
}

h1, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: teal;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* .ul {
    display: inline-block;
} */

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    background-color: teal
}

#mapid {
    height: 400px;
    width: 600px; 
    margin:auto;
    border: 10px solid teal 

}

.form {
    /* margin-top: 75px; */
    /* margin-bottom: 100px; */
}

.input-group-append {
    display: inline-block;
}

#searchBtn{
    float: left;
    margin: 0px;
}

.row{
    margin-bottom: 50px;

}


#weatherCard {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.wx-box {
    background-color: rgb(219, 219, 219);
  }
