body {
    background-color:black
    /* #222529 */
    ;
}

h1, h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:dodgerblue;
    font-weight: bold;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* .ul {
    display: inline-block;
} */


#mapid {
    height: 400px;
    width: 600px; 
    margin:auto;

}

.form {
    /* margin-top: 75px; */
    /* margin-bottom: 100px; */
}

.input-group-append {
    display: inline-block;
}

#searchBtn{
    float: left;
    margin: 0px;
}

.row{
    margin-bottom: 50px;

}


#weatherCard {
    padding-top: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

.wx-box {
    background-color: rgb(219, 219, 219);
  }
